.amf{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.hdr{
  height: 2550px;
}
*{
  margin: 0;
  padding: 0;
}
.top{
  display: flex;
  justify-content: space-between;

}
.th{
padding-top: 47.25px;
padding-left: 141.75px;

}
.dr{
  box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
color: black;
background: white;
padding: 15px;
}
.lth{
  padding-right: 157.37px;
  padding-top: 36.02px;

}
#hero{
  background-image: url(../assets/Hero-bg.png);
  height: 612.88px;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 124.19px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.cntnr{
  position: absolute;
  height: 551.736px;
  left: 209.508px;
  right: 209.508px;
  top: 147.58px;
  bottom: 4271.68px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  
  
  
}
.grp{
width: 240.28px;
height: 240px;
left: 257.67%;
right: -257.67%;
padding-bottom: 30px;
}
.hd{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 30px;
}
.txt{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 30px;
}
#btntxt{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.btn{
  padding: 30px 60px 30px 60px;
  color: white;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}


.sh{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 44px;
}
.ph{
  color: rgb(13, 19, 33);

font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.qh{
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.nhd{
  border-radius: 16px;

background: rgba(13, 19, 33, 0.02);/* Frame 13 */
position: absolute;
width: 940.72px;
height: 1380px;
left: 230px;
right: 152px;
top: 1010px;
bottom: 2993px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 75.84px 234.156px 75.84px 234.156px;


}
.wwd{
position: static;
width: 1164px;
height: 264.52px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 45.504px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 30.336px 0px;
border-radius: 15.168px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.texth{
  color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding-bottom: 32px;
}
.textp{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
padding-bottom: 32px;

}
.textbtn{
  box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

}
.btntxt{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
}
.ct{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mi{
  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 50px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.lorem{
position: static;
width: 852px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 5px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.dt{
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
padding: 32px;

}
.link{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.m{
  display: flex;
  align-items: center;
position: static;
width: 1140px;
height: 496px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 200px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 111px 0px;
}
.mnop{
position: static;
width: 364px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;border-radius: 16px;

background: rgba(255, 76, 30, 0.05);
}
.mno{
position: static;
width: 1140px;
height: 300px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
padding-top: 40px;
}
.mn{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 330px;
}
.hkk{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
padding-bottom: 40px;
}
.hll{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}
.mnotxt{
  color: rgb(13, 19, 33);;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

}
.btq{/* Learn More */
  position: static;
  width: 284px;
  height: 20px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  box-sizing: unset;
  
  
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;



  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.hcj{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
/* CSS */
position: static;
width: 284px;
height: 36px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding-top: 40px;
padding-bottom: 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}
.sprt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/handshake.jpg);
  /* Frame 8 */
position: absolute;
width: 1500px;
height: 300px;
left: 150px;
right: 150px;
top: 4040px;
bottom: 179px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;
border-radius: 16px;

background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);

}
.lcl{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 380px;
}
.shead{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
padding-top: 64px;
padding-bottom: 20px;
}
.stx{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
padding-bottom: 20px;

}
.sbtn{
  /* Frame 23 */
position: static;
width: 684px;
height: 58px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
}
.plct{
  padding: 18px 160px 18px 18px;
}
.arr{
  ;width: 400px;
height: 19px;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}
.plt{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(255, 255, 255);
padding-left: 20px;
}
.csk{
  padding-left: 350px;
  display: flex;
  flex-direction: row;
  padding-top: 32px;
}
.lst{
  
position: absolute;
width: 1610px;
height: 0px;
left: 0;
top: 4500px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 50px 150px 50px 150px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
}
